<html>
	
	<head>
	<title>Beira - Driving Distance Demo</title>		
        <meta name="viewport" content="width=device-width">

		<!-- Leaflet -->
		<link rel="stylesheet" href="leaflet/leaflet.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="leaflet/leaflet.ie.css" /><![endif]-->
		<script src="leaflet/leaflet.js"></script>
		<script src="javascripts/leaflet-hash.js"></script>		
		<script src="javascripts/dat.gui.min.js"></script>		
		<script src="javascripts/jquery.min.js"></script>
		<script src="javascripts/color.js"></script>
		<style>
			body {
			    padding: 0;
			    margin: 0;
			}
			html, body, #map {
			    height: 100%;
			}  
			.info {
				padding: 6px 8px;
				font: 14px/16px Arial, Helvetica, sans-serif;
				background: white;
				background: rgba(255,255,255,0.8);
				box-shadow: 0 0 15px rgba(0,0,0,0.2);
				border-radius: 5px;
			}
			.info h4 {
				margin: 0 0 5px;
				color: #777;
			}		
			.legend {
				text-align: left;
				line-height: 18px;
				color: #555;
			}
			.legend i {
				width: 18px;
				height: 18px;
				float: left;
				margin-right: 8px;
				opacity: 0.7;
			}
		</style>		
	</head>

	<body>
		<div id="map"></div>


	<script>
		// In case we forget to take out console statements.
		window.distance = 1;
		window.max = 200;

		if(typeof(console) === 'undefined') {
		    var console = {}
		    console.log = console.error = console.info = console.debug = console.warn = console.trace = console.dir = console.dirxml = console.group = console.groupEnd = console.time = console.timeEnd = console.assert = console.profile = function() {};
		}

		// Instruct Leaflet to prefer canvas rendering
		L_PREFER_CANVAS = true; 

		// Define some colors
		var Color = net.brehaut.Color;
		var Green = Color("#00FF00");
		var Red = Color({hue: 0, saturation: 1, value: 1});
		var Blue = Color("rgb(0,0,255)");
		var Cyan = Color({hue: 180, saturation: 1, lightness: 0.5});
		var Magenta = Color("hsl(300, 100%, 50%)");
		var Yellow = Color([255,255,0]);


		// Satellite baselayer
		var satlayer = L.tileLayer('http://khm1.googleapis.com/kh/v=137&src=app&x={x}&y={y}&z={z}&s=&token=66417.png', {
		    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		});

	    // Define and add an OSM baselayer
		var osmlayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
		    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		});


		// Global variables
		var start_popups = [];
		var circles = [];
		var map = L.map('map', {
			layers: [satlayer, osmlayer]
		}).setView([-19.8265,34.8583], 14);
	    var hash = new L.Hash(map);




		var baseMaps = {
			"Satellite": satlayer,
		    "OSM": osmlayer
		};
		L.control.layers(baseMaps, {}, {position: 'bottomleft'}).addTo(map);


		var legend = L.control({position: 'bottomright'});

		legend.onAdd = function (map) {

			var div = L.DomUtil.create('div', 'info legend'),
				grades = [0, 100, 300, 400, 500, 700, 900, 1000],
				labels = [],
				from, to;

			for (var i = 0; i < grades.length; i++) {
				from = grades[i];
				to = grades[i + 1];

				labels.push(
					'<i style="background:' + getColor(from + 1) + '"></i> ' +
					from + (to ? '&ndash;' + to : '+') + ' min.');
			}

			div.innerHTML = '<strong>Drive time</strong><br><hr size="0" noshade/><i style="background:black;"></i> Startpoint<br/>' + labels.join('<br>');
			return div;
		};

		legend.addTo(map);


		var about = L.control({position: 'bottomright'});

		about.onAdd = function (map) {
			var div = L.DomUtil.create('div', 'info legend');
			div.innerHTML = '<strong>About</strong><br><hr size="0" noshade/><div style="width:121px;">Drive time isotope for Beira, Mozambique. Click somewhere on the map to start.</div>';
			return div;
		};

		about.addTo(map);


		// Map clickhandler
		map.on('click', function(e){
			clearMap();

		    $.ajax({
		      url: "/edge?lat="+e.latlng.lat+"&lon="+e.latlng.lng
		    }).done(function(data) {
		        edgedata = JSON.parse(data);
		        //console.log('edgedata',edgedata);
		        var startpopup = L.circle(e.latlng, 100, {stroke:false, fillOpacity: 100, fillColor:'black'}).addTo(map) //.bindPopup(edgedata.osm_name + "...");
		        start_popups.push(startpopup);
			      
		        $.ajax({
		            url: "/catchment?startingpoint=" + edgedata.source + "&length=" + window.distance + "&max=" + window.max
		        }).done(function(catchment_data) {
		        	var cd = JSON.parse(catchment_data);
		        	//console.log('catchment_data:', cd);

		            $.each(cd, function(i, v) {
		            	var cost = (v.cost*10000);
		            	var colorCost = getColor(cost);

		            	var circle = new L.circle(
		            		new L.LatLng(v.y1,v.x1),
		            		150, 
		            		{
		            			stroke: false,
		            			fillColor: colorCost
		            		})
		            		.addTo(map)
		            		.bindPopup("Kosten: " + Math.round(cost));
		            	circles.push(circle);
		            });


		        });

		    });
		});


	    var SimulationValues = function() {
	      this.distance = window.distance;
	      this.max = window.max;
	    };
	    var simulation = new SimulationValues();

		var gui = new dat.GUI();
	    gui.remember(simulation);
	    gui.close();

	    // Define dat.gui interface
	    var reset_gui = {
	      start: function() { 
		// console.log("Starting!"); 
	      },
	      reset: function() {
		// console.log("Resetting!"); 
	      }
	    };
        var f1 = gui.addFolder("Routing parameters");
        f1.open();
	    var distance_controller = f1.add(simulation, 'distance', 0, 10, 0.1).name("Distance (km)");
	    var max_controller = f1.add(simulation, 'max', 0, 3000).name("Max results");
	    distance_controller.onChange(function(value) {
	      console.log("Distance: ", value);
	      window.distance = value;
	    });
	    max_controller.onChange(function(value) {
    	  console.log("Maximum: ", max);
		  window.max = Math.round(value);
	    });


		// get color depending on population density value
		function getColor(d) {
			return d > 1000 ? '#660000' : // very very dark red
			       d > 900  ? '#AA0000' : // very dark red
   			       d > 800  ? '#CC0000' : // dark red
			       d > 700  ? '#FF0000' : // red
			       d > 600  ? '#CC0066' : // rose
			       d > 500  ? '#DD6F00' : // dark orange
			       d > 400  ? '#FF8000' : // orange
			       d > 300   ? '#EEEE00' : // yellow
			       d > 200   ? '#74C476' : // matte green
			       d > 100   ? '#00FF00' : // bright geen
			                  '#00FF84'; // blueish green
		}

		// Clears map of all layers, markers, lines and such.
		function clearMap() {
		    for(i in map._layers) {
		        if(map._layers[i]._path != undefined) {
		            try {
		                map.removeLayer(map._layers[i]);
		            }
		            catch(e) {
		                console.log("Problem with " + e + map._layers[i]);
		            }
		        }
		    }
		}
	</script>
	</body>
</html>